In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('Google_Stock_Train (2010-2022).csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,15.689439,15.753504,15.621622,15.684434,15.684434,78169752
1,2010-01-05,15.695195,15.711712,15.554054,15.615365,15.615365,120067812
2,2010-01-06,15.662162,15.662162,15.174174,15.221722,15.221722,158988852
3,2010-01-07,15.250250,15.265265,14.831081,14.867367,14.867367,256315428
4,2010-01-08,14.814815,15.096346,14.742492,15.065566,15.065566,188783028
...,...,...,...,...,...,...,...
3267,2022-12-23,87.110001,89.550003,87.070000,89.230003,89.230003,23003000
3268,2022-12-27,88.800003,88.940002,87.010002,87.389999,87.389999,20097300
3269,2022-12-28,86.980003,88.040001,85.940002,86.019997,86.019997,19523200
3270,2022-12-29,86.620003,88.849998,86.610001,88.449997,88.449997,23333500
3271,2022-12-30,86.980003,88.300003,86.570000,88.230003,88.230003,23986300

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3272 non-null   object
 1   Open       3272 non-null   float64
 2   High       3272 non-null   float64
 3   Low        3272 non-null   float64
 4   Close      3272 non-null   float64
 5   Adj Close  3272 non-null   float64
 6   Volume     3272 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 179.1+ KB

In [4]:
df['Date']= pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3272 non-null   datetime64[ns]
 1   Open       3272 non-null   float64
 2   High       3272 non-null   float64
 3   Low        3272 non-null   float64
 4   Close      3272 non-null   float64
 5   Adj Close  3272 non-null   float64
 6   Volume     3272 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 179.1 KB

In [5]:
df['Date']= df['Date'].dt.year

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3272 non-null   int64
 1   Open       3272 non-null   float64
 2   High       3272 non-null   float64
 3   Low        3272 non-null   float64
 4   Close      3272 non-null   float64
 5   Adj Close  3272 non-null   float64
 6   Volume     3272 non-null   int64
dtypes: float64(5), int64(2)
memory usage: 179.1 KB

In [7]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
X = df.drop(['Volume'], axis=1)
X

      Date       Open       High        Low      Close  Adj Close
0     2010  15.689439  15.753504  15.621622  15.684434  15.684434
1     2010  15.695195  15.711712  15.554054  15.615365  15.615365
2     2010  15.662162  15.662162  15.174174  15.221722  15.221722
3     2010  15.250250  15.265265  14.831081  14.867367  14.867367
4     2010  14.814815  15.096346  14.742492  15.065566  15.065566
...    ...        ...        ...        ...        ...        ...
3267  2022  87.110001  89.550003  87.070000  89.230003  89.230003
3268  2022  88.800003  88.940002  87.010002  87.389999  87.389999
3269  2022  86.980003  88.040001  85.940002  86.019997  86.019997
3270  2022  86.620003  88.849998  86.610001  88.449997  88.449997
3271  2022  86.980003  88.300003  86.570000  88.230003  88.230003

[3272 rows x 6 columns]

In [9]:
y= df['Volume']
y

0        78169752
1       120067812
2       158988852
3       256315428
4       188783028
          ...
3267     23003000
3268     20097300
3269     19523200
3270     23333500
3271     23986300
Name: Volume, Length: 3272, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.1)
len(X_train)

2944

In [12]:
len(X_test)

328

In [13]:
reg = linear_model.LinearRegression()
reg.fit(X_train.values, y_train)

LinearRegression()

In [14]:
reg.score( X_test.values,  y_test)

0.46190473988123415

In [15]:
reg.predict([[2022,87.110001,89.550003,87.070000,89.230003,89.230003]])

array([12849589.89229965])

In [16]:
reg.coef_

array([-13639623.69157874,    220410.37237426,  19099546.8662888 ,
       -18352285.79250668,   -381722.14428648,   -381722.14428648])

In [17]:
reg.intercept_

27528659927.445026