In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('Zoo database - Revenue.csv')
df

           Date        Day  Num of  Visitors  Ticket Price  Donation  Revenue
0    06/09/2022   Thursday               796            50      3374    43174
1    06/10/2022     Friday               856            50      4552    47352
2    06/11/2022   Saturday               879            50      6607    50557
3    06/12/2022     Sunday               645            50      3085    35335
4    06/13/2022     Monday               512            50      5260    30860
..          ...        ...               ...           ...       ...      ...
195  12/21/2022  Wednesday               927            50      5498    51848
196  12/22/2022   Thursday               702            50      6767    41867
197  12/23/2022     Friday               936            50      3845    50645
198  12/24/2022   Saturday               790            50      6277    45777
199  12/25/2022     Sunday               964            50      4276    52476

[200 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              200 non-null    object
 1   Day               200 non-null    object
 2   Num of  Visitors  200 non-null    int64
 3   Ticket Price      200 non-null    int64
 4   Donation          200 non-null    int64
 5   Revenue           200 non-null    int64
dtypes: int64(4), object(2)
memory usage: 9.5+ KB

In [4]:
df.isnull().sum()

Date                0
Day                 0
Num of  Visitors    0
Ticket Price        0
Donation            0
Revenue             0
dtype: int64

In [5]:
X = df.drop(['Donation','Date','Day'], axis=1)
X

     Num of  Visitors  Ticket Price  Revenue
0                 796            50    43174
1                 856            50    47352
2                 879            50    50557
3                 645            50    35335
4                 512            50    30860
..                ...           ...      ...
195               927            50    51848
196               702            50    41867
197               936            50    50645
198               790            50    45777
199               964            50    52476

[200 rows x 3 columns]

In [6]:
y= df['Donation']
y

0      3374
1      4552
2      6607
3      3085
4      5260
       ...
195    5498
196    6767
197    3845
198    6277
199    4276
Name: Donation, Length: 200, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.20)
len(X_train)

160

In [9]:
reg = linear_model.LinearRegression()
reg.fit(X_train.values, y_train)

LinearRegression()

In [10]:
reg.score( X_test.values,  y_test)

1.0

In [25]:
reg.predict([[256,50,26987]])

array([14187.])

In [26]:
reg.coef_

array([-50.,   0.,   1.])

In [22]:
X_test

     Num of  Visitors  Ticket Price  Revenue
89                648            50    35491
189               919            50    52430
29                628            50    35347
187               669            50    37363
36                548            50    32004
184               641            50    37701
179               976            50    52649
174               682            50    39873
150               730            50    41225
31                900            50    50491
44                995            50    56661
133               652            50    38793
81                906            50    48466
154               541            50    32555
126               814            50    45248
23                787            50    43143
18                993            50    54181
19                983            50    52365
26                567            50    31747
182               516            50    30601
159               614            50    36705
117               739            50    43376
158               521            50    33011
135               968            50    53939
124               812            50    45841
169               808            50    46728
73                964            50    54012
21                832            50    46412
50                515            50    29778
98                656            50    37299
14                637            50    38152
13                508            50    32370
79                832            50    48108
17                659            50    39731
112               999            50    56374
108               600            50    33766
185               788            50    45036
7                 500            50    31849
78                996            50    53648
139               992            50    53501

In [24]:
reg.predict(X_test.iloc[1])

ValueError: Expected 2D array, got 1D array instead:
array=[  919    50 52430].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.