In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('machine.csv')
df

    vendorName      modelName  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0      adviser          32/60   125   256   6000   256     16    128  198  199
1       amdahl         470v/7    29  8000  32000    32      8     32  269  253
2       amdahl        470v/7a    29  8000  32000    32      8     32  220  253
3       amdahl        470v/7b    29  8000  32000    32      8     32  172  253
4       amdahl        470v/7c    29  8000  16000    32      8     16  132  132
..         ...            ...   ...   ...    ...   ...    ...    ...  ...  ...
204     sperry           80/8   124  1000   8000     0      1      8   42   37
205     sperry  90/80-model-3    98  1000   8000    32      2      8   46   50
206     sratus             32   125  2000   8000     0      2     14   52   41
207       wang         vs-100   480   512   8000    32      0      0   67   47
208       wang          vs-90   480  1000   4000     0      0      0   45   25

[209 rows x 10 columns]

In [3]:
df.isnull().sum()

vendorName    0
modelName     0
MYCT          0
MMIN          0
MMAX          0
CACH          0
CHMIN         0
CHMAX         0
PRP           0
ERP           0
dtype: int64

In [4]:
df = df.drop(['vendorName','modelName'],axis=1)
df

     MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     125   256   6000   256     16    128  198  199
1      29  8000  32000    32      8     32  269  253
2      29  8000  32000    32      8     32  220  253
3      29  8000  32000    32      8     32  172  253
4      29  8000  16000    32      8     16  132  132
..    ...   ...    ...   ...    ...    ...  ...  ...
204   124  1000   8000     0      1      8   42   37
205    98  1000   8000    32      2      8   46   50
206   125  2000   8000     0      2     14   52   41
207   480   512   8000    32      0      0   67   47
208   480  1000   4000     0      0      0   45   25

[209 rows x 8 columns]

In [5]:
X = df.drop('ERP', axis=1)
X

     MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP
0     125   256   6000   256     16    128  198
1      29  8000  32000    32      8     32  269
2      29  8000  32000    32      8     32  220
3      29  8000  32000    32      8     32  172
4      29  8000  16000    32      8     16  132
..    ...   ...    ...   ...    ...    ...  ...
204   124  1000   8000     0      1      8   42
205    98  1000   8000    32      2      8   46
206   125  2000   8000     0      2     14   52
207   480   512   8000    32      0      0   67
208   480  1000   4000     0      0      0   45

[209 rows x 7 columns]

In [6]:
y= df['ERP']
y

0      199
1      253
2      253
3      253
4      132
      ...
204     37
205     50
206     41
207     47
208     25
Name: ERP, Length: 209, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.25)
len(X_train)

156

In [14]:
len(X_test)

53

In [15]:
reg = linear_model.LinearRegression()
reg.fit(X_train.values, y_train)

LinearRegression()

In [16]:
reg.score( X_test.values,  y_test)

0.9565601226917402

In [17]:
reg.predict([[130,212, 5700, 286, 14, 132, 190]])

array([168.23200729])